
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header bg-primary">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button> -->
        <h4 class="modal-title" id="myPASaxCodeLabel" data-translate="pasaasApp.pASaxCode.home.createOrEditLabel">Create or edit a PA Sax Code</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pASaxCode.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pASaxCode.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCode.distalarm" for="field_distalarm">Distalarm</label>
            <input type="text" class="form-control" name="distalarm" id="field_distalarm"
                    ng-model="vm.pASaxCode.distalarm"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCode.saxcode" for="field_saxcode">Saxcode</label>
            <input type="text" class="form-control" name="saxcode" id="field_saxcode"
                    ng-model="vm.pASaxCode.saxcode"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCode.total" for="field_total">Total</label>
            <input type="text" class="form-control" name="total" id="field_total"
                    ng-model="vm.pASaxCode.total"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCode.painterval" for="field_painterval">Painterval</label>
            <input type="text" class="form-control" name="painterval" id="field_painterval"
                    ng-model="vm.pASaxCode.painterval"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCode.pastatus" for="field_pastatus">Pastatus</label>
            <select class="form-control" name="pastatus" ng-model="vm.pASaxCode.pastatus" id="field_pastatus" ng-disabled="true">
                <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="pasaasApp.pASaxCode.paorgsc" for="field_paorgsc">Paorgsc</label>
            <input 
                type="text" 
                class="form-control" 
                name="paorgsc" 
                id="field_paorgsc"
                ng-model="vm.pASaxCode.paorgsc.organization"
                readonly 
            />
            <!-- <select class="form-control" id="field_paorgsc" name="paorgsc" ng-model="vm.pASaxCode.paorgsc" ng-options="pAOrganization as pAOrganization.organization for pAOrganization in vm.paorganizations track by pAOrganization.id" ng-disabled="true">
                <option value=""></option>
            </select> -->
        </div>
        <div class="form-group">
            <label data-translate="pasaasApp.pASaxCode.paprosc" for="field_paprosc">Paprosc</label>
            <input 
                type="text" 
                class="form-control" 
                name="paprosc" 
                id="field_paprosc"
                ng-model="vm.pASaxCode.paprosc.projectname"
                readonly 
            />
            <!-- <select class="form-control" id="field_paprosc" name="paprosc" ng-model="vm.pASaxCode.paprosc" ng-options="pAProject as pAProject.projectname for pAProject in vm.paprojects track by pAProject.id" ng-disabled="true">
                <option value=""></option>
            </select> -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>

        <!-- <button type="button" ui-sref="p-a-sax-code-detail.edit({id:vm.pASaxCode.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
        </button> -->
    </div>
</form>


<!-- <div>
    <h2><span data-translate="pasaasApp.pASaxCode.detail.title">PA Sax Code</span> {{vm.pASaxCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="pasaasApp.pASaxCode.distalarm">Distalarm</span></dt>
        <dd>
            <span>{{vm.pASaxCode.distalarm}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.saxcode">Saxcode</span></dt>
        <dd>
            <span>{{vm.pASaxCode.saxcode}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.total">Total</span></dt>
        <dd>
            <span>{{vm.pASaxCode.total}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.painterval">Painterval</span></dt>
        <dd>
            <span>{{vm.pASaxCode.painterval}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.pastatus">Pastatus</span></dt>
        <dd>
            <span data-translate="{{'pasaasApp.PAStatus.' + vm.pASaxCode.pastatus}}">{{vm.pASaxCode.pastatus}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.paorgsc">Paorgsc</span></dt>
        <dd>
            <a ui-sref="p-a-organization-detail({id:vm.pASaxCode.paorgsc.id})">{{vm.pASaxCode.paorgsc.organization}}</a>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCode.paprosc">Paprosc</span></dt>
        <dd>
            <a ui-sref="p-a-project-detail({id:vm.pASaxCode.paprosc.id})">{{vm.pASaxCode.paprosc.projectname}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="p-a-sax-code-detail.edit({id:vm.pASaxCode.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div> -->
