
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPAReliabilityScoreLabel" data-translate="pasaasApp.pAReliabilityScore.home.createOrEditLabel">Create or edit a PA Reliability Score</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pAReliabilityScore.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pAReliabilityScore.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.predictedalarms" for="field_predictedalarms">Predictedalarms</label>
            <input type="number" class="form-control" name="predictedalarms" id="field_predictedalarms"
                    ng-model="vm.pAReliabilityScore.predictedalarms"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.occuredalarms" for="field_occuredalarms">Occuredalarms</label>
            <input type="number" class="form-control" name="occuredalarms" id="field_occuredalarms"
                    ng-model="vm.pAReliabilityScore.occuredalarms"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.matchedalarms" for="field_matchedalarms">Matchedalarms</label>
            <input type="number" class="form-control" name="matchedalarms" id="field_matchedalarms"
                    ng-model="vm.pAReliabilityScore.matchedalarms"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.pAReliabilityScore.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.predictedpercentage" for="field_predictedpercentage">Predictedpercentage</label>
            <input type="number" class="form-control" name="predictedpercentage" id="field_predictedpercentage"
                    ng-model="vm.pAReliabilityScore.predictedpercentage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityScore.pastatus" for="field_pastatus">Pastatus</label>
            <select class="form-control" name="pastatus" ng-model="vm.pAReliabilityScore.pastatus" id="field_pastatus">
                <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="pasaasApp.pAReliabilityScore.paorgrs" for="field_paorgrs">Paorgrs</label>
            <select class="form-control" id="field_paorgrs" name="paorgrs" ng-model="vm.pAReliabilityScore.paorgrs" ng-options="pAOrganization as pAOrganization.organization for pAOrganization in vm.paorganizations track by pAOrganization.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="pasaasApp.pAReliabilityScore.paprors" for="field_paprors">Paprors</label>
            <select class="form-control" id="field_paprors" name="paprors" ng-model="vm.pAReliabilityScore.paprors" ng-options="pAProject as pAProject.projectname for pAProject in vm.paprojects track by pAProject.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
