<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 data-translate="userManagement.home.title">Users</h5>

                    <div ibox-tools></div>
                    <input 
                        type="text" 
                        ng-model="serachText" 
                        class="btn-xs pull-right" 
                        placeholder="Search..."
                    >
                    <span class="pull-right">&nbsp;</span>
                    <button 
                        class="btn btn-primary btn-xs pull-right" 
                        ui-sref="user-management.su.new"
                    >
                        <span data-translate="userManagement.home.createLabel">Create a new User</span>
                    </button>
                </div>

                <div class="ibox-content">
                    <!-- <table 
                        datatable="" 
                        class="table table-striped table-hover dataTables-example"
                    >
                        <thead>
                            <tr>
                                <th><span data-translate="global.field.id">ID</span></th>
                                <th>Image</th>
                                <th><span data-translate="userManagement.login">Login</span></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th><span data-translate="userManagement.email">Email</span></th>
                                <th><span data-translate="userManagement.profiles">Profiles</span></th>
                                <th><span data-translate="userManagement.organizations">Organizations</span></th>
                                <th></th>
                            </tr>
                        </thead> -->
                    <table class="jh-table table table-striped table-hover">
                        <thead>
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                                <th jh-sort-by="id">
                                    <span data-translate="global.field.id">ID</span>
                                    <span class="glyphicon glyphicon-sort"></span>
                                </th>
                                <th>Image</th>
                                <th jh-sort-by="login">
                                    <span data-translate="userManagement.login">Login</span> 
                                    <span class="glyphicon glyphicon-sort"></span>
                                </th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th jh-sort-by="email">
                                    <span data-translate="userManagement.email">Email</span> 
                                    <span class="glyphicon glyphicon-sort"></span>
                                </th>
                                <th jh-sort-by="profiles">
                                    <span data-translate="userManagement.profiles">Profiles</span> 
                                    <span class="glyphicon glyphicon-sort"></span>
                                </th>
                                <th jh-sort-by="organizations">
                                    <span data-translate="userManagement.organizations">Organizations</span> 
                                    <span class="glyphicon glyphicon-sort"></span>
                                </th>
                            </tr>
                        </thead>
                       <!--  <tbody 
                            infinite-scroll="vm.loadPage(vm.page + 1)" 
                            infinite-scroll-disabled="vm.page >= vm.links['last']"
                        > -->
                        <tbody>
                            <tr 
                                class="gradeX" 
                                ng-repeat="user in vm.users | filter : serachText track by user.id"
                            >
				            	<td>
				            		<a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a>
				            	</td>
				                <td>
				                    <a 
                                        ng-if="user.image" 
                                        ng-click="vm.openFile(user.imageContentType, user.image)"
                                    >
				                        <img 
                                            data-ng-src="{{'data:' + user.imageContentType + ';base64,' + user.image}}" 
                                            style="max-height: 30px;"
                                            class="img-circle"
                                            alt="User Image" 
                                        />
                                    </a>
                                    <img 
                                        ng-if="!user.image"
                                        src="content/images/avatar.png" 
                                        alt="User Image" 
                                        style="max-height: 30px;"
                                        class="img-circle" 
                                    />
				                    <!-- <span ng-if="user.image">
                                        {{user.imageContentType}}, {{vm.byteSize(user.image)}}
                                    </span> -->
				                </td>
				                <td>{{user.login}}</td>
				                <td>{{user.firstName}}</td>
				                <td>{{user.lastName}}</td>
				                <td>{{user.email}}</td>
				                <!-- <td>
				                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
				                          data-translate="userManagement.deactivated" style="cursor: pointer;">Deactivated</span>
				                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
				                          data-translate="userManagement.activated" style="cursor: pointer;">Activated</span>
				                </td> -->
				                <td>
				                    <div ng-repeat="authority in user.authorities">
				                        <span class="label label-info">{{ authority }}</span>
				                    </div>
				                </td>
				                <td>
				                    <div ng-repeat="organization in user.organizations">
				                        <span class="label label-info">{{ organization }}</span>
				                    </div>
				                </td>
				                <!-- <td>{{user.langKey}}</td> -->
                                <td class="text-right">
				                    <div class="btn-group flex-btn-group-container">
				                        <button type="submit"
				                                ui-sref="user-management-detail.su({login:user.login})"
				                                class="btn btn-info btn-sm">
				                            <span class="glyphicon glyphicon-eye-open"></span>
				                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
				                        </button>
				                        <button type="submit"
				                                ui-sref="user-management.su.edit({login:user.login})"
				                                class="btn btn-primary btn-sm">
				                            <span class="glyphicon glyphicon-pencil"></span>
				                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
				                        </button>
				                        <button type="submit"
				                                ui-sref="user-management.delete({login:user.login})"
				                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
				                            <span class="glyphicon glyphicon-remove-circle"></span>
				                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
				                        </button>
				                    </div>
				                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <h2 data-translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" ui-sref="user-management.new">
              <span class="glyphicon glyphicon-flash"></span> <span data-translate="userManagement.home.createLabel">Create a new User</span>
          </button>
      </div>
    </div>
    <div class="table-responsive">
        <table datatable class="row-border hover" >
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id">
                	<span data-translate="global.field.id">ID</span>
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="login">
                	<span data-translate="userManagement.login">Login</span> 
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="email">
                	<span data-translate="userManagement.email">Email</span> 
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th></th>
                <th  jh-sort-by="langKey"> 
                	<span data-translate="userManagement.langKey">Lang Key</span> 
                	<span class="glyphicon glyphicon-sort"></span>
                </th>                
                <th>
                	<span data-translate="userManagement.profiles">Profiles</span>
                </th>       
                <th>
                	<span data-translate="userManagement.organizations">Organizations</span>
                </th>   
                <th>
                	<span data-translate="userManagement.projects">Projects</span>
                </th>            
                <th jh-sort-by="createdDate">
                	<span data-translate="userManagement.createdDate">Created Date</span> 
                
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="lastModifiedBy">
                	<span data-translate="userManagement.lastModifiedBy">Last Modified By</span> 
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th jh-sort-by="lastModifiedDate">
                	<span data-translate="userManagement.lastModifiedDate">Last Modified Date</span> 
                	<span class="glyphicon glyphicon-sort"></span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>
                    <a ng-if="user.image" ng-click="vm.openFile(user.imageContentType, user.image)">
                        <img data-ng-src="{{'data:' + user.imageContentType + ';base64,' + user.image}}" style="max-height: 30px;"/>
                    </a>
                    <span ng-if="user.image">{{user.imageContentType}}, {{vm.byteSize(user.image)}}</span>
                </td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                          data-translate="userManagement.deactivated" style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                          data-translate="userManagement.activated" style="cursor: pointer;">Activated</span>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="organization in user.organizations">
                        <span class="label label-info">{{ organization }}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="project in user.projects">
                        <span class="label label-info">{{ project }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
    
    
</div> -->
