<div ng-switch="vm.isAuthenticated()">
	<div ng-switch-when="true">
		<div ng-include="'app/home/graph_flot.html'"></div>
		<!-- <div class="wrapper wrapper-content animated fadeInRight">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h1>predict<span class="text-success">ION<sup><b>T</b></sup></span></h1>
					<h2>Predictive Analytics for Telecommunications</h2>
				</div>
				<div class="panel-body">
					<div class="col-md-4 col-md-offset-4" align="center">
						<span class="hipster img-responsive img-rounded"></span>
						<img src="content/images/logo-pervazive.png" width="100%">
						<div 
							class="alert alert-success" 
							 
							data-translate="home.logged.message" 
							translate-values="{username: '{{vm.account.login}}'}"
						>
							You are logged in as user "{{vm.account.login}}".
						</div>

					</div>
				</div>
				<div class="panel-footer text-center">
					<p>PredictION<sup>T</sup> - Predictive Analytics for Telecom &copy; 2015-16</p>
				</div>
			</div>
		</div> -->
	</div>

	<div ng-switch-when="false">
		
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h1>predict<span class="text-success">ION<sup><b>T</b></sup></span></h1>
					<h2>Predictive Analytics for Telecommunications</h2>
					<!-- <h4>About the Predictive Analytics application for Telecom in a Sentence.</h4> -->
				</div>
				<div class="panel-body" style="min-height:450px">
					<div class="col-md-4 col-md-offset-4" align="center">
						<span class="hipster img-responsive img-rounded"></span>
						<img src="../../content/images/logo-pervazive.png" width="100%">
					</div>
					<div class="col-md-12 checkbox" align="center">
						<label>
							Predictive Analytics for Telecommunications
						</label>
					</div>

					<div class="row">
						<div class="col-md-3 col-md-offset-3">
							<div class="form-group row">
								<div class="col-md-12 checkbox" align="center">
									<label>
										Already have an account?
									</label>
									
								</div>
							</div>
							<p><button 
								class="btn btn-block btn-primary" 
								ng-click="vm.login()"
							>Login</button></p>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<div class="col-md-12 checkbox" align="center">
									<label>
										Do not have an account?
									</label>
									
								</div>
							</div>
							<p>
								<button 
									class="btn btn-block btn-success" 
									ng-click="vm.register()"
								>Create an account
								</button>
							</p>
						</div>
					</div>

					<p align="center">
						<span data-translate="home.like">
							If you like Pervazive Products, don't forget to like us on 
						</span>&nbsp;
						<a 
							href="https://www.facebook.com/pervazive/" 
							target="_blank" 
							data-translate="home.facebook"
						>FaceBook</a>!
					</p>
				</div>
				<div class="panel-footer text-center">
					<p>PredictION<sup>T</sup> - Predictive Analytics for Telecom &copy; 2015-16</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
<!--  <div class="form-group">
<label data-translate="pasaasApp.pAProject.paorgpro" for="field_paorgpro">Paorgpro</label>
<select class="form-control" id="field_paorgpro" name="paorgpro" 
ng-model="vm.pAProject.paorgpro" 
ng-options="pAOrganization as pAOrganization.organization for pAOrganization in vm.paorganizations track by pAOrganization.id">
	<option value=""></option><a class="alert-link" ui-sref="changeOrganization">Change Org</a>
</select>
</div> -->

	

<!-- <div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">PERVAZIVE PREDICTIVE ANALYTICS</h1>
            <p class="lead" data-translate="home.subtitle">Telecom Analytics</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p>
             <span data-translate="home.like">If you like Pervazive Products, don't forget to like us on </span>&nbsp;<a href="https://www.facebook.com/pervazive/" target="_blank" data-translate="home.facebook">FaceBook</a>!
            </p>
        </div>
    </div>
</div> -->
