
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPAGeneralConfigLabel" data-translate="pasaasApp.pAGeneralConfig.home.createOrEditLabel">Create or edit a PA General Config</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pAGeneralConfig.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pAGeneralConfig.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.hdfsurl" for="field_hdfsurl">Hdfsurl</label>
            <input type="text" class="form-control" name="hdfsurl" id="field_hdfsurl"
                    ng-model="vm.pAGeneralConfig.hdfsurl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sparkurl" for="field_sparkurl">Sparkurl</label>
            <input type="text" class="form-control" name="sparkurl" id="field_sparkurl"
                    ng-model="vm.pAGeneralConfig.sparkurl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_script" for="field_dr_script">Dr Script</label>
            <input type="text" class="form-control" name="dr_script" id="field_dr_script"
                    ng-model="vm.pAGeneralConfig.dr_script"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_inseriesformat" for="field_dr_inseriesformat">Dr Inseriesformat</label>
            <input type="text" class="form-control" name="dr_inseriesformat" id="field_dr_inseriesformat"
                    ng-model="vm.pAGeneralConfig.dr_inseriesformat"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_outseriesformat" for="field_dr_outseriesformat">Dr Outseriesformat</label>
            <input type="text" class="form-control" name="dr_outseriesformat" id="field_dr_outseriesformat"
                    ng-model="vm.pAGeneralConfig.dr_outseriesformat"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_inputfile" for="field_dr_inputfile">Dr Inputfile</label>
            <input type="text" class="form-control" name="dr_inputfile" id="field_dr_inputfile"
                    ng-model="vm.pAGeneralConfig.dr_inputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_expressionfile" for="field_dr_expressionfile">Dr Expressionfile</label>
            <input type="text" class="form-control" name="dr_expressionfile" id="field_dr_expressionfile"
                    ng-model="vm.pAGeneralConfig.dr_expressionfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_outputfile" for="field_dr_outputfile">Dr Outputfile</label>
            <input type="text" class="form-control" name="dr_outputfile" id="field_dr_outputfile"
                    ng-model="vm.pAGeneralConfig.dr_outputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_seriesgcolindex" for="field_dr_seriesgcolindex">Dr Seriesgcolindex</label>
            <input type="text" class="form-control" name="dr_seriesgcolindex" id="field_dr_seriesgcolindex"
                    ng-model="vm.pAGeneralConfig.dr_seriesgcolindex"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_seriesstart" for="field_dr_seriesstart">Dr Seriesstart</label>
            <input type="number" class="form-control" name="dr_seriesstart" id="field_dr_seriesstart"
                    ng-model="vm.pAGeneralConfig.dr_seriesstart"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_seriesend" for="field_dr_seriesend">Dr Seriesend</label>
            <input type="number" class="form-control" name="dr_seriesend" id="field_dr_seriesend"
                    ng-model="vm.pAGeneralConfig.dr_seriesend"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.dr_seriesnxt" for="field_dr_seriesnxt">Dr Seriesnxt</label>
            <input type="number" class="form-control" name="dr_seriesnxt" id="field_dr_seriesnxt"
                    ng-model="vm.pAGeneralConfig.dr_seriesnxt"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_inputfile" for="field_df_inputfile">Df Inputfile</label>
            <input type="text" class="form-control" name="df_inputfile" id="field_df_inputfile"
                    ng-model="vm.pAGeneralConfig.df_inputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_outputfile" for="field_df_outputfile">Df Outputfile</label>
            <input type="text" class="form-control" name="df_outputfile" id="field_df_outputfile"
                    ng-model="vm.pAGeneralConfig.df_outputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_entityfld" for="field_df_entityfld">Df Entityfld</label>
            <input type="text" class="form-control" name="df_entityfld" id="field_df_entityfld"
                    ng-model="vm.pAGeneralConfig.df_entityfld"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_seriesfld" for="field_df_seriesfld">Df Seriesfld</label>
            <input type="text" class="form-control" name="df_seriesfld" id="field_df_seriesfld"
                    ng-model="vm.pAGeneralConfig.df_seriesfld"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_inseriesformat" for="field_df_inseriesformat">Df Inseriesformat</label>
            <input type="text" class="form-control" name="df_inseriesformat" id="field_df_inseriesformat"
                    ng-model="vm.pAGeneralConfig.df_inseriesformat"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_outseriesformat" for="field_df_outseriesformat">Df Outseriesformat</label>
            <input type="text" class="form-control" name="df_outseriesformat" id="field_df_outseriesformat"
                    ng-model="vm.pAGeneralConfig.df_outseriesformat"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_isheader" for="field_df_isheader">Df Isheader</label>
            <input type="text" class="form-control" name="df_isheader" id="field_df_isheader"
                    ng-model="vm.pAGeneralConfig.df_isheader"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_script" for="field_df_script">Df Script</label>
            <input type="text" class="form-control" name="df_script" id="field_df_script"
                    ng-model="vm.pAGeneralConfig.df_script"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.df_skipfldindexes" for="field_df_skipfldindexes">Df Skipfldindexes</label>
            <input type="text" class="form-control" name="df_skipfldindexes" id="field_df_skipfldindexes"
                    ng-model="vm.pAGeneralConfig.df_skipfldindexes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_inputfile" for="field_ss_inputfile">Ss Inputfile</label>
            <input type="text" class="form-control" name="ss_inputfile" id="field_ss_inputfile"
                    ng-model="vm.pAGeneralConfig.ss_inputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_outputfile" for="field_ss_outputfile">Ss Outputfile</label>
            <input type="text" class="form-control" name="ss_outputfile" id="field_ss_outputfile"
                    ng-model="vm.pAGeneralConfig.ss_outputfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_saxcodefldindex" for="field_ss_saxcodefldindex">Ss Saxcodefldindex</label>
            <input type="number" class="form-control" name="ss_saxcodefldindex" id="field_ss_saxcodefldindex"
                    ng-model="vm.pAGeneralConfig.ss_saxcodefldindex"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_subseqinterval" for="field_ss_subseqinterval">Ss Subseqinterval</label>
            <input type="number" class="form-control" name="ss_subseqinterval" id="field_ss_subseqinterval"
                    ng-model="vm.pAGeneralConfig.ss_subseqinterval"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_subseqintervalthreshhold" for="field_ss_subseqintervalthreshhold">Ss Subseqintervalthreshhold</label>
            <input type="number" class="form-control" name="ss_subseqintervalthreshhold" id="field_ss_subseqintervalthreshhold"
                    ng-model="vm.pAGeneralConfig.ss_subseqintervalthreshhold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_script" for="field_ss_script">Ss Script</label>
            <input type="text" class="form-control" name="ss_script" id="field_ss_script"
                    ng-model="vm.pAGeneralConfig.ss_script"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_tempopfile" for="field_ss_tempopfile">Ss Tempopfile</label>
            <input type="text" class="form-control" name="ss_tempopfile" id="field_ss_tempopfile"
                    ng-model="vm.pAGeneralConfig.ss_tempopfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.ss_inputdirname" for="field_ss_inputdirname">Ss Inputdirname</label>
            <input type="text" class="form-control" name="ss_inputdirname" id="field_ss_inputdirname"
                    ng-model="vm.pAGeneralConfig.ss_inputdirname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_ipaddr" for="field_sq_ipaddr">Sq Ipaddr</label>
            <input type="text" class="form-control" name="sq_ipaddr" id="field_sq_ipaddr"
                    ng-model="vm.pAGeneralConfig.sq_ipaddr"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_mysqlpwd" for="field_sq_mysqlpwd">Sq Mysqlpwd</label>
            <input type="text" class="form-control" name="sq_mysqlpwd" id="field_sq_mysqlpwd"
                    ng-model="vm.pAGeneralConfig.sq_mysqlpwd"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_mysqldb" for="field_sq_mysqldb">Sq Mysqldb</label>
            <input type="text" class="form-control" name="sq_mysqldb" id="field_sq_mysqldb"
                    ng-model="vm.pAGeneralConfig.sq_mysqldb"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_loadlocalinfile" for="field_sq_loadlocalinfile">Sq Loadlocalinfile</label>
            <input type="text" class="form-control" name="sq_loadlocalinfile" id="field_sq_loadlocalinfile"
                    ng-model="vm.pAGeneralConfig.sq_loadlocalinfile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_daydumppath" for="field_sq_daydumppath">Sq Daydumppath</label>
            <input type="text" class="form-control" name="sq_daydumppath" id="field_sq_daydumppath"
                    ng-model="vm.pAGeneralConfig.sq_daydumppath"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_updquery" for="field_sq_updquery">Sq Updquery</label>
            <input type="text" class="form-control" name="sq_updquery" id="field_sq_updquery"
                    ng-model="vm.pAGeneralConfig.sq_updquery"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_insertquery" for="field_sq_insertquery">Sq Insertquery</label>
            <input type="text" class="form-control" name="sq_insertquery" id="field_sq_insertquery"
                    ng-model="vm.pAGeneralConfig.sq_insertquery"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_script" for="field_sq_script">Sq Script</label>
            <input type="text" class="form-control" name="sq_script" id="field_sq_script"
                    ng-model="vm.pAGeneralConfig.sq_script"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_command" for="field_sq_command">Sq Command</label>
            <input type="text" class="form-control" name="sq_command" id="field_sq_command"
                    ng-model="vm.pAGeneralConfig.sq_command"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sq_localinfiile" for="field_sq_localinfiile">Sq Localinfiile</label>
            <input type="text" class="form-control" name="sq_localinfiile" id="field_sq_localinfiile"
                    ng-model="vm.pAGeneralConfig.sq_localinfiile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.pastatus" for="field_pastatus">Pastatus</label>
            <select class="form-control" name="pastatus" ng-model="vm.pAGeneralConfig.pastatus" id="field_pastatus">
                <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
