<form 
    name="editForm" 
    role="form" 
    novalidate 
    ng-submit="vm.save()" 
>   

    <div class="modal-header bg-primary">
        <!-- <button 
            type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-hidden="true"
            ng-click="vm.clear()"
        >&times;</button> -->
        <h4 
            class="modal-title" 
            id="myPAGeneralConfigLabel" 
            data-translate="pasaasApp.pAGeneralConfig.home.createOrEditLabel"
        >General Configuration</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-show="vm.pAGeneralConfig.id">
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.pAGeneralConfig.id" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.hdfsurl" for="field_hdfsurl">Hdfsurl</label>
                    <input type="text" class="form-control" name="hdfsurl" id="field_hdfsurl"
                            ng-model="vm.pAGeneralConfig.hdfsurl"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sparkurl" for="field_sparkurl">Sparkurl</label>
                    <input type="text" class="form-control" name="sparkurl" id="field_sparkurl"
                            ng-model="vm.pAGeneralConfig.sparkurl"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.created_date" for="field_created_date">created_date</label>
                    <input type="text" class="form-control" name="created_date" id="field_created_date"
                            ng-model="vm.pAGeneralConfig.created_date"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.hdfsbasedir" for="field_hdfsbasedir">hdfsbasedir</label>
                    <input type="text" class="form-control" name="hdfsbasedir" id="field_hdfsbasedir"
                            ng-model="vm.pAGeneralConfig.hdfsbasedir"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.trainingfeeddir" for="field_trainingfeeddir">trainingfeeddir</label>
                    <input type="text" class="form-control" name="trainingfeeddir" id="field_trainingfeeddir"
                            ng-model="vm.pAGeneralConfig.trainingfeeddir"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.predictfeeddir" for="field_predictfeeddir">predictfeeddir</label>
                    <input type="text" class="form-control" name="predictfeeddir" id="field_predictfeeddir"
                            ng-model="vm.pAGeneralConfig.predictfeeddir"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.trainingrollupinfile" for="field_trainingrollupinfile">trainingrollupinfile</label>
                    <input type="text" class="form-control" name="trainingrollupinfile" id="field_trainingrollupinfile"
                            ng-model="vm.pAGeneralConfig.trainingrollupinfile"
                            readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.predictrollupinfile" for="field_predictrollupinfile">predictrollupinfile</label>
                    <input type="text" class="form-control" name="predictrollupinfile" id="field_predictrollupinfile"
                            ng-model="vm.pAGeneralConfig.predictrollupinfile"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.expressionfilepath" for="field_expressionfilepath">expressionfilepath</label>
                    <input type="text" class="form-control" name="expressionfilepath" id="field_expressionfilepath"
                            ng-model="vm.pAGeneralConfig.expressionfilepath"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.trainingpatternoutfile" for="field_trainingpatternoutfile">trainingpatternoutfile</label>
                    <input type="text" class="form-control" name="trainingpatternoutfile" id="field_trainingpatternoutfile"
                            ng-model="vm.pAGeneralConfig.trainingpatternoutfile"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.predictpatternoutfile" for="field_predictpatternoutfile">predictpatternoutfile</label>
                    <input type="text" class="form-control" name="predictpatternoutfile" id="field_predictpatternoutfile"
                            ng-model="vm.pAGeneralConfig.predictpatternoutfile"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.trainingpatterntmpoutfile" for="field_trainingpatterntmpoutfile">trainingpatterntmpoutfile</label>
                    <input type="text" class="form-control" name="trainingpatterntmpoutfile" id="field_trainingpatterntmpoutfile"
                            ng-model="vm.pAGeneralConfig.trainingpatterntmpoutfile"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.predictpatterntmpoutfile" for="field_predictpatterntmpoutfile">predictpatterntmpoutfile</label>
                    <input type="text" class="form-control" name="predictpatterntmpoutfile" id="field_predictpatterntmpoutfile"
                            ng-model="vm.pAGeneralConfig.predictpatterntmpoutfile"
                            readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.sqltmpuploadpath" for="field_sqltmpuploadpath">sqltmpuploadpath</label>
                    <input type="text" class="form-control" name="sqltmpuploadpath" id="field_sqltmpuploadpath"
                            ng-model="vm.pAGeneralConfig.sqltmpuploadpath"
                            readonly />
                </div>

                <div class="form-group">
                    <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.pastatus" for="field_pastatus">Pastatus</label>
                    <select class="form-control" name="pastatus" ng-model="vm.pAGeneralConfig.pastatus" id="field_pastatus" ng-disabled="true">
                        <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                        <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                        <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
                    </select>
                </div>
            </div>
        </div>
        
        
        
        <div class="form-group" ngf-drop ngf-change="vm.setMsgattachments($file, vm.pAGeneralConfig)">
            <label class="control-label" data-translate="pasaasApp.pAGeneralConfig.exprfile" for="field_msgattachments">Expression File</label>
            <div>
                <div ng-if="vm.pAGeneralConfig.exprfile" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.pAGeneralConfig.exprfileContentType, vm.pAGeneralConfig.exprfile)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.pAGeneralConfig.exprfileContentType}}, {{vm.byteSize(vm.pAGeneralConfig.exprfile)}}</span>
                    <!-- <button type="button" ng-click="vm.pAGeneralConfig.exprfile=null;vm.pAGeneralConfig.exprfileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button> -->
                </div>
                <!-- <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setMsgattachments($file, vm.pAGeneralConfig)" data-translate="entity.action.addblob">
                    Add Attachment
                </button> -->
            </div>
            <input type="hidden" class="form-control" name="exprfile" id="field_exprfile"
                    ng-model="vm.pAGeneralConfig.exprfile"
                    readonly />
            <input type="hidden" class="form-control" name="exprfileContentType" id="field_exprfileContentType"
                    ng-model="vm.pAGeneralConfig.exprfileContentType"readonly />
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>

        <!-- <button type="button" ui-sref="p-a-general-config-detail.edit({id:vm.pAGeneralConfig.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
        </button> -->
    </div>
    <div class="modal-footer">
        <span>&nbsp;</span>
    </div>
</form>


<!-- <div>
    <h2><span data-translate="pasaasApp.pAGeneralConfig.detail.title">PA General Config</span> {{vm.pAGeneralConfig.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="pasaasApp.pAGeneralConfig.hdfsurl">Hdfsurl</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.hdfsurl}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sparkurl">Sparkurl</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sparkurl}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_script">Dr Script</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_script}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_inseriesformat">Dr Inseriesformat</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_inseriesformat}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_outseriesformat">Dr Outseriesformat</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_outseriesformat}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_inputfile">Dr Inputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_inputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_expressionfile">Dr Expressionfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_expressionfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_outputfile">Dr Outputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_outputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_seriesgcolindex">Dr Seriesgcolindex</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_seriesgcolindex}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_seriesstart">Dr Seriesstart</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_seriesstart}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_seriesend">Dr Seriesend</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_seriesend}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.dr_seriesnxt">Dr Seriesnxt</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.dr_seriesnxt}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_inputfile">Df Inputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_inputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_outputfile">Df Outputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_outputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_entityfld">Df Entityfld</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_entityfld}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_seriesfld">Df Seriesfld</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_seriesfld}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_inseriesformat">Df Inseriesformat</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_inseriesformat}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_outseriesformat">Df Outseriesformat</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_outseriesformat}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_isheader">Df Isheader</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_isheader}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_script">Df Script</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_script}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.df_skipfldindexes">Df Skipfldindexes</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.df_skipfldindexes}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_inputfile">Ss Inputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_inputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_outputfile">Ss Outputfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_outputfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_saxcodefldindex">Ss Saxcodefldindex</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_saxcodefldindex}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_subseqinterval">Ss Subseqinterval</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_subseqinterval}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_subseqintervalthreshhold">Ss Subseqintervalthreshhold</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_subseqintervalthreshhold}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_script">Ss Script</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_script}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_tempopfile">Ss Tempopfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_tempopfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.ss_inputdirname">Ss Inputdirname</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.ss_inputdirname}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_ipaddr">Sq Ipaddr</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_ipaddr}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_mysqlpwd">Sq Mysqlpwd</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_mysqlpwd}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_mysqldb">Sq Mysqldb</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_mysqldb}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_loadlocalinfile">Sq Loadlocalinfile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_loadlocalinfile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_daydumppath">Sq Daydumppath</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_daydumppath}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_updquery">Sq Updquery</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_updquery}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_insertquery">Sq Insertquery</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_insertquery}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_script">Sq Script</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_script}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_command">Sq Command</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_command}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.sq_localinfiile">Sq Localinfiile</span></dt>
        <dd>
            <span>{{vm.pAGeneralConfig.sq_localinfiile}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pAGeneralConfig.pastatus">Pastatus</span></dt>
        <dd>
            <span data-translate="{{'pasaasApp.PAStatus.' + vm.pAGeneralConfig.pastatus}}">{{vm.pAGeneralConfig.pastatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="p-a-general-config-detail.edit({id:vm.pAGeneralConfig.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div> -->
