<form 
    name="editForm" 
    role="form" 
    novalidate 
    ng-submit="vm.save()" 
    class="animated fadeInDown" 
>   

    <div class="modal-header bg-primary">
        <button 
            type="button" 
            class="close" 
            aria-hidden="true"
            ui-sref="{{ vm.previousState }}" 
        >&times;</button>
        <!-- <button 
            type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-hidden="true"
            ng-click="vm.clear()"
        >&times;</button> -->
		<h4 
			class="modal-title" 
			id="myPAOrganizationLabel" 
			data-translate="pasaasApp.pAOrganization.home.createOrEditLabel"
		>Setup Organization and Membership</h4>
	</div>

	<div class="modal-body wizard">
		<h2>Initial Setup</h2>

	    <p>
	        This setup will allow add your organization profile and select account membership.
	    </p>

	    <div class="steps clearfix">
	        <ul>

	            <li ui-sref-active="current">
	                <a ui-sref="p-a-organization.new.step_one" class="btn-default">
	                <!-- <a ui-sref="company_pages.pdf23.step_one" class="btn-default"> -->
	                	<span>1</span> Organization Information
	                </a>
	            </li>
	        </ul>
	    </div>
	    <div class="wizard">
			<div class="well">
				<fieldset>
				    <!-- <h2>Organization Information</h2> -->

				    <div class="row">
				        <div class="col-lg-12">
				            <jhi-alert-error></jhi-alert-error>

							<div class="form-group" ng-show="vm.pAOrganization.id">
								<label 
									for="id" 
									data-translate="global.field.id"
								>ID</label>
								<input 
									type="text" 
									class="form-control" 
									id="id" 
									name="id"
									ng-model="vm.pAOrganization.id" 
									readonly 
								/>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.organization" 
									for="field_organization"
								>Organization</label>
								<input 
									type="text" 
									class="form-control" 
									name="organization" id="field_organization"
									ng-model="vm.pAOrganization.organization"
								/>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.validfrom" 
									for="field_validfrom"
								>Validfrom</label>
								<div class="input-group">
									<input 
										id="field_validfrom" 
										type="text" 
										class="form-control" 
										name="validfrom" 
										datetime-picker="{{dateformat}}" 
										ng-model="vm.pAOrganization.validfrom" 
										is-open="vm.datePickerOpenStatus.validfrom"
									/>
										<!-- ng-init=""  -->
									<span class="input-group-btn">
										<button 
											type="button" 
											class="btn btn-default" 
											ng-click="vm.openCalendar('validfrom')"
										><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.validto" 
									for="field_validto"
								>Validto</label>
								<div class="input-group">
									<input 
										id="field_validto" 
										type="text" 
										class="form-control" 
										name="validto" 
										datetime-picker="{{dateformat}}" 
										ng-model="vm.pAOrganization.validto" 
										is-open="vm.datePickerOpenStatus.validto"
									/>
									<span class="input-group-btn">
										<button 
											type="button" 
											class="btn btn-default" 
											ng-click="vm.openCalendar('validto')"
										><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.pastatus" 
									for="field_pastatus"
								>Pastatus</label>

								<!-- <select 
									ng-init="somethingHere = options[0]" 
								    ng-model="somethingHere" 
								    ng-options="option.name for option in options">
								</select> -->

								<select 
									class="form-control" 
									name="pastatus" 
									ng-model="vm.pAOrganization.pastatus" 
									id="field_pastatus"
								>
									<!-- ng-init="vm.pAOrganization.pastatus = 'Active'"  -->
									<option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
									<option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
									<option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
								</select>
							</div>

							<div class="form-group">
								<!-- <pre>{{vm.pabusinessplans | json}}</pre> -->
								<!-- <pre>{{vm.pAOrganization.pabporg | json}}</pre> -->
								<!-- <pre>{{vm.pAOrganization.paprojectsObj[0].paorgpro.pabporg | json}}</pre> -->
								<label 
									data-translate="pasaasApp.pAOrganization.pabporg" 
									for="field_pabporg"
								>Pabporg</label>
								<select 
									class="form-control" 
									id="field_pabporg" 
									name="pabporg" 
									ng-model="vm.pAOrganization.pabporg" 
									ng-init=" vm.pAOrganization.pabporg = selected_plan"
									ng-change="vm.change_to_date()"
									ng-options="
										each_paln as each_paln.businessplan 
										for each_paln in vm.pabusinessplans 
										track by each_paln.id
									"
								>
								</select>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.industrytype" 
									for="field_industrytype"
								>Industry Type</label>
								<input 
									type="text" 
									class="form-control" 
									name="industrytype" id="field_industrytype"
									ng-model="vm.pAOrganization.industrytype"
								/>
							</div>

							<div class="form-group">
								<label 
									class="control-label" 
									data-translate="pasaasApp.pAOrganization.website" 
									for="field_website"
								>Website</label>
								<input 
									type="text" 
									class="form-control" 
									name="website" id="field_website"
									ng-model="vm.pAOrganization.website"
								/>
							</div>
				        </div>
				        <!-- <div class="col-lg-4">
				            <div class="text-center">
				                <div>
				                    <i class="fa fa-sign-in" style="font-size: 130px;color: #e5e5e5 "></i>
				                </div>
				            </div>
				        </div> -->
				    </div>
				    <!-- <a ui-sref="wizard.step_two" class="btn btn-primary">Next</a> -->
				</fieldset>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button 
            type="button" 
            class="btn btn-default" 
            ui-sref="{{ vm.previousState }}" 
        >
		<!-- <button 
			type="button" 
			class="btn btn-default" 
			data-dismiss="modal" 
			ng-click="vm.clear()"
		> -->
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
			<span data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button 
			type="submit" 
			ng-disabled="editForm.$invalid || vm.isSaving" 
			class="btn btn-primary"
		>
			<span class="glyphicon glyphicon-save"></span>&nbsp;
			<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
	<div class="modal-footer">&nbsp;</div>
</form>





<!-- <form 
	name="editForm" 
	role="form" 
	novalidate 
	ng-submit="vm.save()"
>

	<div class="modal-header">
		<button 
			type="button" 
			class="close" 
			data-dismiss="modal" 
			aria-hidden="true"
			ng-click="vm.clear()"
		>&times;</button>
		<h4 
			class="modal-title" 
			id="myPAOrganizationLabel" 
			data-translate="pasaasApp.pAOrganization.home.createOrEditLabel"
		>Setup Organization and Membership</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>

		<div class="form-group" ng-show="vm.pAOrganization.id">
			<label 
				for="id" 
				data-translate="global.field.id"
			>ID</label>
			<input 
				type="text" 
				class="form-control" 
				id="id" 
				name="id"
				ng-model="vm.pAOrganization.id" 
				readonly 
			/>
		</div>

		<div class="form-group">
			<label 
				class="control-label" 
				data-translate="pasaasApp.pAOrganization.organization" 
				for="field_organization"
			>Organization</label>
			<input 
				type="text" 
				class="form-control" 
				name="organization" id="field_organization"
				ng-model="vm.pAOrganization.organization"
			/>
		</div>

		<div class="form-group">
			<label 
				class="control-label" 
				data-translate="pasaasApp.pAOrganization.validfrom" 
				for="field_validfrom"
			>Validfrom</label>
			<div class="input-group">
				<input 
					id="field_validfrom" 
					type="text" 
					class="form-control" 
					name="validfrom" 
					datetime-picker="{{dateformat}}" 
					ng-model="vm.pAOrganization.validfrom" 
					is-open="vm.datePickerOpenStatus.validfrom"
				/>
				<span class="input-group-btn">
					<button 
						type="button" 
						class="btn btn-default" 
						ng-click="vm.openCalendar('validfrom')"
					><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label 
				class="control-label" 
				data-translate="pasaasApp.pAOrganization.validto" 
				for="field_validto"
			>Validto</label>
			<div class="input-group">
				<input 
					id="field_validto" 
					type="text" 
					class="form-control" 
					name="validto" 
					datetime-picker="{{dateformat}}" 
					ng-model="vm.pAOrganization.validto" 
					is-open="vm.datePickerOpenStatus.validto"
				/>
				<span class="input-group-btn">
					<button 
						type="button" 
						class="btn btn-default" 
						ng-click="vm.openCalendar('validto')"
					><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label 
				class="control-label" 
				data-translate="pasaasApp.pAOrganization.pastatus" 
				for="field_pastatus"
			>Pastatus</label>
			<select 
				class="form-control" 
				name="pastatus" 
				ng-model="vm.pAOrganization.pastatus" 
				id="field_pastatus"
			>
				<option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
				<option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
				<option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
			</select>
		</div>

		<div class="form-group">
			<label 
				data-translate="pasaasApp.pAOrganization.pabporg" 
				for="field_pabporg"
			>Pabporg</label>
			<select 
				class="form-control" 
				id="field_pabporg" 
				name="pabporg" 
				ng-model="vm.pAOrganization.pabporg" 
				ng-options="pABusinessPlan as pABusinessPlan.businessplan for pABusinessPlan in vm.pabusinessplans track by pABusinessPlan.id" "
			>
				<option value=""></option>
			</select>
		</div>
		
	</div>

	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-default" 
			data-dismiss="modal" 
			ng-click="vm.clear()"
		>
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
			<span data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button 
			type="submit" 
			ng-disabled="editForm.$invalid || vm.isSaving" 
			class="btn btn-primary"
		>
			<span class="glyphicon glyphicon-save"></span>&nbsp;
			<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form> -->
