<div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="panel panel-default">
			<div class="panel-heading" align="center">
				<h1>predict<span class="text-success">ION<sup><b>T</b></sup></span></h1>
				<h2>Predictive Analytics for Telecommunications</h2>
				<h4>About the Predictive Analytics application for Telecom in a Sentence.</h4>
			</div>
			<div class="panel-body" style="min-height:450px">
				<div class="col-md-4 col-md-offset-4" align="center">
					<p><h3><b>Set Password</b></h3></p>
					<p>Set your password to access our awsome products.</p>
					<p>&nbsp;</p>

					<h2 
						data-translate="password.title" 
						translate-values="{username: '{{vm.account.login}}'}"
					>Password for [<b>{{vm.account.login}}</b>]</h2>

					<div 
						class="alert alert-success" 
						ng-show="vm.success" 
						data-translate="password.messages.success"
					>
						<strong>Password changed!</strong>
					</div>
					<div 
						class="alert alert-danger" 
						ng-show="vm.error"  
						data-translate="password.messages.error"
					>
						<strong>An error has occurred!</strong> The password could not be changed.
					</div>

					<div 
						class="alert alert-danger" 
						ng-show="vm.doNotMatch" 
						data-translate="global.messages.error.dontmatch"
					>
						The password and its confirmation do not match!
					</div>

					<form 
						name="form" 
						role="form" 
						novalidate 
						ng-submit="vm.changePassword()" 
						show-validation
					>
						
						<div class="form-group">
							<label 
								class="control-label" 
								for="password" 
								data-translate="global.form.newpassword"
							>New password</label>
							<input 
								type="password" 
								class="form-control" 
								id="password" 
								name="password" 
								placeholder="{{'global.form.newpassword.placeholder' | translate}}"
								ng-model="vm.password" 
								ng-minlength=4 
								ng-maxlength=50 
								required
							>
							<div ng-show="form.password.$dirty && form.password.$invalid">
								<p 
									class="help-block"
									ng-show="form.password.$error.required" 
									data-translate="global.messages.validate.newpassword.required"
								>
									Your password is required.
								</p>
								<p 
									class="help-block"
									ng-show="form.password.$error.minlength" 
									data-translate="global.messages.validate.newpassword.minlength"
								>
									Your password is required to be at least 4 characters.
								</p>
								<p 
									class="help-block"
									ng-show="form.password.$error.maxlength" 
									data-translate="global.messages.validate.newpassword.maxlength"
								>
									Your password cannot be longer than 50 characters.
								</p>
							</div>
							<password-strength-bar 
								password-to-check="vm.password"
							></password-strength-bar>
						</div>


						<div class="form-group">
							<label 
								class="control-label" 
								for="confirmPassword" 
								data-translate="global.form.confirmpassword"
							>New password confirmation</label>
							<input 
								type="password" 
								class="form-control" 
								id="confirmPassword" 
								name="confirmPassword" 
								placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
								ng-model="vm.confirmPassword" 
								ng-minlength=4 
								ng-maxlength=50 
								required
							>
							<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
								<p 
									class="help-block"
									ng-show="form.confirmPassword.$error.required" 
									data-translate="global.messages.validate.confirmpassword.required"
								>
									Your confirmation password is required.
								</p>
								<p 
									class="help-block"
									ng-show="form.confirmPassword.$error.minlength" 
									data-translate="global.messages.validate.confirmpassword.minlength"
								>
									Your confirmation password is required to be at least 4 characters.
								</p>
								<p 
									class="help-block"
									ng-show="form.confirmPassword.$error.maxlength" 
									data-translate="global.messages.validate.confirmpassword.maxlength"
								>
									Your confirmation password cannot be longer than 50 characters.
								</p>
							</div>
						</div>
						
						

						<div class="form-group row">
							<div class="col-md-12">
								<button 
									type="submit" 
									ng-disabled="form.$invalid" 
									class="btn btn-block btn-success" 
									data-translate="password.form.button"
								>Send new password</button>
							</div>
						</div>

						<!-- <div class="form-group row">
							<div class="col-md-12">
								
							</div>
						</div> -->
						
					</form>

				</div>
			</div>
			<div class="panel-footer text-center">
				<p>PredictION<sup>T</sup> - Predictive Analytics for Telecom &copy; 2015-16</p>
			</div>
		</div>		 
	</div>

</div>

<!-- <div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 
				data-translate="password.title" 
				translate-values="{username: '{{vm.account.login}}'}"
			>Password for [<b>{{vm.account.login}}</b>]</h2>

			<div 
				class="alert alert-success" 
				ng-show="vm.success" 
				data-translate="password.messages.success"
			>
				<strong>Password changed!</strong>
			</div>
			<div 
				class="alert alert-danger" 
				ng-show="vm.error"  
				data-translate="password.messages.error"
			>
				<strong>An error has occurred!</strong> The password could not be changed.
			</div>

			<div 
				class="alert alert-danger" 
				ng-show="vm.doNotMatch" 
				data-translate="global.messages.error.dontmatch"
			>
				The password and its confirmation do not match!
			</div>

			<form 
				name="form" 
				role="form" 
				novalidate 
				ng-submit="vm.changePassword()" 
				show-validation
			>

				<div class="form-group">
					<label 
						class="control-label" 
						for="password" 
						data-translate="global.form.newpassword"
					>New password</label>
					<input 
						type="password" 
						class="form-control" 
						id="password" 
						name="password" 
						placeholder="{{'global.form.newpassword.placeholder' | translate}}"
						ng-model="vm.password" 
						ng-minlength=4 
						ng-maxlength=50 
						required
					>
					<div ng-show="form.password.$dirty && form.password.$invalid">
						<p 
							class="help-block"
							ng-show="form.password.$error.required" 
							data-translate="global.messages.validate.newpassword.required"
						>
							Your password is required.
						</p>
						<p 
							class="help-block"
							ng-show="form.password.$error.minlength" 
							data-translate="global.messages.validate.newpassword.minlength"
						>
							Your password is required to be at least 4 characters.
						</p>
						<p 
							class="help-block"
							ng-show="form.password.$error.maxlength" 
							data-translate="global.messages.validate.newpassword.maxlength"
						>
							Your password cannot be longer than 50 characters.
						</p>
					</div>
					<password-strength-bar 
						password-to-check="vm.password"
					></password-strength-bar>
				</div>

				<div class="form-group">
					<label 
						class="control-label" 
						for="confirmPassword" 
						data-translate="global.form.confirmpassword"
					>New password confirmation</label>
					<input 
						type="password" 
						class="form-control" 
						id="confirmPassword" 
						name="confirmPassword" 
						placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
						ng-model="vm.confirmPassword" 
						ng-minlength=4 
						ng-maxlength=50 
						required
					>
					<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
						<p 
							class="help-block"
							ng-show="form.confirmPassword.$error.required" 
							data-translate="global.messages.validate.confirmpassword.required"
						>
							Your confirmation password is required.
						</p>
						<p 
							class="help-block"
							ng-show="form.confirmPassword.$error.minlength" 
							data-translate="global.messages.validate.confirmpassword.minlength"
						>
							Your confirmation password is required to be at least 4 characters.
						</p>
						<p 
							class="help-block"
							ng-show="form.confirmPassword.$error.maxlength" 
							data-translate="global.messages.validate.confirmpassword.maxlength"
						>
							Your confirmation password cannot be longer than 50 characters.
						</p>
					</div>
				</div>

				<button 
					type="submit" 
					ng-disabled="form.$invalid" 
					class="btn btn-primary" 
					data-translate="password.form.button"
				>Save</button>
			</form>
		</div>
	</div>
</div> -->




