<!-- <div ng-controller='controller_chapter14'> -->

<style> 
	#my_navigation { display: none } 
	#my_topnavbar { display: none } 
	/*#my_footer { display: none } */
	/*#wrapper { display: none } */
</style>
<div>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="panel panel-default">
			<div class="panel-heading" align="center">
				<h1>predict<span class="text-primary">ION<sup><b>T</b></sup></span></h1>
				<h2>Predictive Analytics for Telecommunications</h2>
				<h4>About the Predictive Analytics application for Telecom in a Sentence.</h4>
			</div>
			<div class="panel-body">
				<div class="col-md-4 col-md-offset-4" align="center">
					<p><h3><b>Welcome</b></h3></p>
					<p>Foresee Forewarn Forearm</p>
					<p>Login in. To see it in action.</p>
					<p>&nbsp;</p>

					<form name="form_login">

						<div class="form-group row">
							<!-- <div class="col-md-4">
								<label for="email_id">Email ID :</label>
								<div 
								  	class="text-success glyphicon glyphicon-ok form-control-feedback" 
								  	ng-show="form_login.email_id.$valid && form_login.email_id.$dirty"
								></div>
								<div 
								 	class="text-danger glyphicon glyphicon-remove form-control-feedback" 
								 	ng-show="form_login.email_id.$invalid && form_login.email_id.$dirty"
								></div> 
							</div> -->
							<div class="col-md-12">
									<!-- type="date"  -->
									<!-- type="number"  -->
								<input 
									class="form-control" 
									type="email" 
									name="email_id"
									ng-model="user.email_id"
									placeholder="Enter Email ID"
									required
								>
								<div 
									ng-show="form_login.email_id.$error.required && form_login.email_id.$dirty"
									class="alert alert-danger"
								>
									Email ID is required
								</div>
								<div 
									ng-show="form_login.email_id.$invalid && form_login.email_id.$dirty"
									class="alert alert-danger"
								>
									Enter Valid Email ID
								</div>
							</div>
						</div>
						
						
						<div class="form-group row">
							<!-- <div class="col-md-4">
								<label for="password">Password :</label>
								<div 
								  	class="text-success glyphicon glyphicon-ok form-control-feedback" 
								  	ng-show="form_login.password.$valid && form_login.password.$dirty"
								></div>
								<div 
								 	class="text-danger glyphicon glyphicon-remove form-control-feedback" 
								 	ng-show="form_login.password.$invalid && form_login.password.$dirty"
								></div> 
							</div> -->
							<div class="col-md-12">
								<input 
									class="form-control" 
									type="password" 
									name="password"
									ng-model="user.password"
									placeholder="Enter Password"
									required
								>
								<div 
									ng-show="form_login.password.$error.required && form_login.password.$dirty"
									class="alert alert-danger"
								>
									Password is required
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-12">
								<button class="btn btn-block btn-primary">Login</button>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-12">
								<p><a ui-sref="company_pages.pdf2">Forgot password?</a></p>
								<p>Do not have an account?</p>
								<p><button class="btn btn-block btn-default" ui-sref="company_pages.pdf6">Create an account</button></p>
								<p>PredictION<sup>T</sup> - Predictive Analytics for Telecom &copy; 2015-16</p>
							</div>
						</div>
						
					</form>

				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>

</div>