<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome Sudarshan</span>
            </li>
            <!-- <li class="dropdown">
                <a class="dropdown-toggle count-info" href>
                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="img/a7.jpg">
                            </a>

                            <div>
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="img/a4.jpg">
                            </a>

                            <div>
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="img/profile.jpg">
                            </a>

                            <div>
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="inbox">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li> -->
            <!-- <li class="dropdown">
                <a class="dropdown-toggle count-info" href>
                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a ui-sref="inbox">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="profile">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="grid_options">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="notifications_tooltips">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li> -->


            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" style="width: 30%" src="img/sudarshan_pic.png"/>
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Sudarshan Shenvi</strong>
                             </span>
                                <span class="text-muted text-xs block">CTO <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
            <li ng-class="{active: $state.includes('company_pages')}">
                <a href="index.html">
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">Pages 1-15</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('company_pages')}">
                
               <!-- 
                8
                9  --> 
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf1">pdf1</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf2">pdf2</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf3">pdf3</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf4">pdf4</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf5">pdf5</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf6">pdf6</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf10">pdf10</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf11">pdf11</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf12">pdf12</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf13">pdf13</a></li>
                    
                <!-- 14
                15 -->
                    
                  
               

                </ul>
            </li>
            <li ng-class="{active: $state.includes('company_pages')}">
                <a href="index.html">
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">Pages 16-30</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('company_pages')}">
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf16">pdf16</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf17">pdf17</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf18">pdf18</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf19">pdf19</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf20">pdf20</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf21">pdf21</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf23">pdf23</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf26">pdf26</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf28">pdf28</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf29">pdf29</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf30">pdf30</a></li>
                
                </ul>
            </li>
            <li ng-class="{active: $state.includes('company_pages')}">
                <a href="index.html">
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">Pages 31-45</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('company_pages')}">

                    <!-- complete -->
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf31">pdf31</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf34">pdf34</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf36">pdf36</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf37">pdf37</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf38">pdf38</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf39">pdf39</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf40">pdf40</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf41">pdf41</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf42">pdf42</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf43">pdf43</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf44">pdf44</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf45">pdf45</a></li>
                    <!-- complete -->
                    
                    

                </ul>
            </li>

            <li ng-class="{active: $state.includes('company_pages')}">
                <a href="index.html"><i class="fa fa-th-large"></i>
                    <span class="nav-label">Pages 46-60</span> 
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('company_pages')}">

                    <!-- complete -->
                    
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf46">pdf46</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf47">pdf47</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf48">pdf48</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf49">pdf49</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf50">pdf50</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf51">pdf51</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf52">pdf52</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf53">pdf53</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf54">pdf54</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf55">pdf55</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf56">pdf56</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf57">pdf57</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf58">pdf58</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf59">pdf59</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.pdf60">pdf60</a></li>
                    <li ui-sref-active="active"><a ui-sref="company_pages.create_new_user">create_new_user</a></li>
                    
                    
                    
                    <!-- complete -->

                </ul>
            </li>




            <!-- <li ng-class="{active: $state.includes('charts')}">
                <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active"><a ui-sref="charts.flot_chart">Flot Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.morris_chart">Morris.js Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.rickshaw_chart">Rickshaw Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Chart.js</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.peity_chart">Peity Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.sparkline_chart">Sparkline Charts</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('mailbox')}">
                <a ui-sref="inbox"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="mailbox.inbox">Inbox</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_view">Email view</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_compose">Compose email</a></li>
                    <li ui-sref-active="active"><a ui-sref="mailbox.email_template">Email template</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="widgets"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
            </li>
            <li ng-class="{active: $state.includes('forms')}">
                <a href=""><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('forms')}">
                    <li ui-sref-active="active"><a ui-sref="forms.basic_form">Basic form</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.advanced_plugins">Advanced Plugins</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.wizard.step_one">Wizard</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.file_upload">File Upload</a></li>
                    <li ui-sref-active="active"><a ui-sref="forms.text_editor">Text Editor</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('app')}">
                <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('app')}">
                    <li ui-sref-active="active"><a ui-sref="app.contacts">Contacts</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.profile">Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.projects">Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.project_detail">Project detail</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.file_manager">File manager</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.calendar">Calendar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.faq">FAQ</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.timeline">Timeline</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.pin_board">Pin board</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.invoice">Invoice</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('pages')}">
                <a href=""><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('pages')}">
                    <li ui-sref-active="active"><a ui-sref="pages.search_results">Search results</a></li>
                    <li><a href="lockscreen.html">Lockscreen</a></li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="500.html">500 Page</a></li>
                    <li ui-sref-active="active"><a ui-sref="pages.empy_page">Empty page</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('ui')}">
                <a href=""><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('ui')}">
                    <li ui-sref-active="active"><a ui-sref="ui.typography">Typography</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.icons">Icons</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.buttons">Buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.video">Video</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.tabs_panels">Tabs & Panels</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.notifications_tooltips">Notifications & Tooltips</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.badges_labels">Badges, Labels, Progress</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('miscellaneous')}">
                <a href=""><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span> <span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('miscellaneous')}">
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.google_maps">Google maps</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.code_editor">Code editor</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.modal_window">Modal window</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.nestable_list">Nestable list</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="grid_options"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
            </li>
            <li ng-class="{active: $state.includes('tables')}">
                <a href=""><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('tables')}">
                    <li ui-sref-active="active"><a ui-sref="tables.static_table">Static Tables</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.data_tables">Data Tables</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.nggrid">NG Grid</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('gallery')}">
                <a href=""><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('gallery')}">
                    <li ui-sref-active="active"><a ui-sref="gallery.basic_gallery">Basic Gallery</a></li>
                    <li ui-sref-active="active"><a ui-sref="gallery.bootstrap_carousel">Bootstrap Carusela</a></li>

                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="">Second Level Item</a></li>
                    <li>
                        <a href="">Second Level Item</a></li>
                    <li>
                        <a href="">Second Level Item</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="css_animations"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
            </li>
            <li class="landing_link">
                <a target="_blank" href="../../Landing_page/index.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
            </li>
            <li class="special_link">
                <a href="../index.html"><i class="fa fa-html5"></i> <span class="nav-label">HTML/CSS Version</span></a>
            </li> -->
        </ul>

    </div>
</nav>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-pervazive.png" alt="logo"/>
                <span data-translate="global.title">Pasaas</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-business-plan" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pABusinessPlan" >Business Plan</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-notification" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pANotification">Notification</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-error-message" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAErrorMessage">Error Message</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-organization" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAOrganization">Organization</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-project" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAProject">Project</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-file-upload" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAFileUpload">File Upload</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-acc-precision" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAAccPrecision">Accuracy Precision</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-report" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAReport">Reports</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-prediction" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAPrediction">Predictions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-alarm-actuality" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAAlarmActuality">Alarm Actuality</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-sax-code" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pASaxCode">Sax Code</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-sax-code-tmp" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pASaxCodeTmp">Sax Code Tmp</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-prediction-score" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAPredictionScore">Prediction Score</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-raw-alarm-data" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pARawAlarmData">Raw Alarm Data</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-reliability-conf" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAReliabilityConf">Reliability Conf</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-reliability-score" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAReliabilityScore">Reliability Score</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-general-config" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAGeneralConfig">General Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-apmt-request" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pApmtRequest">PMT Request</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-data-connector" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pADataConnector">Data Connectors</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-scheduler" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAScheduler">Scheduler</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-scheduler-interval" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pASchedulerInterval">Scheduler Interval</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-a-alarm-rca" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAAlarmRca">Alarm RCA</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="p-ane-details" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pAneDetails">Network Element Details</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
