<!-- <div ng-controller='controller_chapter21'> -->
<div>
	<div 
		ng-show="page_meta_data.has_header" 
		ng-include="'common_things/template_page_header.html'"
	></div>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-3">
			    <div class="ibox float-e-margins">
			        <div class="ibox-content">
			            <div class="file-manager">
			                <h5>Show:</h5>
			                <a href="" class="file-control active">All</a>
			                <a href="" class="file-control">Documents</a>
			                <a href="" class="file-control">Audio</a>
			                <a href="" class="file-control">Images</a>

			                <div class="hr-line-dashed"></div>
			                <button class="btn btn-primary btn-block">Upload Files</button>
			                <div class="hr-line-dashed"></div>

			                <h5>Folders</h5>
			                <ul class="folder-list" style="padding: 0">
			                    <li ng-repeat="each_project in page_data1.folder_list">
			                    	<a href=""><i class="fa fa-folder"></i> {{each_project}}</a>
			                    </li>
			                </ul>
			                
			                <h5 class="tag-title">Tags</h5>
			                <ul class="tag-list" style="padding: 0">
			                    <li ng-repeat="each_tag in page_data1.tag_list">
			                    	<a href="">{{each_tag}}</a>
			                    </li>
			                </ul>
			                <div class="clearfix"></div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="col-lg-9 animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">

						<div class="file-box" ng-repeat = "each_file in file_list">
						    <div class="file">
						        <a href="">
						            <span class="corner"></span>

						            <div class="icon">
						                <i class="{{each_file.class_name}}"></i>
						            </div>
						            <div class="file-name">
						                {{each_file.name}}
						                <br/>
						                <small>{{each_file.date}}</small>
						            </div>
						        </a>
						    </div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>