<div ng-controller='controller_pdf50'>
<div>
	<div 
		ng-show="page_meta_data.has_header" 
		ng-include="'common_things/template_page_header.html'"
	></div>
	<div class="wrapper wrapper-content animated fadeInRight">
		 <div class="row">
			<div class="col-lg-12">
				<div class="ibox">

					<div class="ibox-title">
						<h5>
							[ID 1] - File Name 1 - 141 MB
						</h5>

						<div ibox-tools></div>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-3 custome_font_size_label">File ID</div>
									<div class="col-md-3">

									<input 
										class="form-control custome_font_size_input" 
										type="number" 
										name="file_id"
										ng-model="new_score.file_id"
										placeholder="Enter File ID"
										required
										ng-disabled="form_disabled"
									>
									<div 
										ng-show="form_prs_hr_view.file_id.$error.required && form_prs_hr_view.file_id.$dirty"
										class="alert alert-danger"
									>
										File ID is required
									</div>

									</div>
									<div class="col-md-3 custome_font_size_label">Status</div>
									<div class="col-md-3">
										<select 
											class="form-control m-b"
											ng-model="selected_status" 
											ng-options="each_status.label for each_status in list_status"
											ng-style="{
												'background-color':selected_status.back_color, 'color':selected_status.front_color
											}"
											options-class="{ 
												'selected_active' : label == 'Active', 
												'selected_inactive': label == 'Inactive',
												'selected_deleted': label == 'Deleted'
											}"
											ng-disabled="form_disabled"
										>
											<option ng-show="!selected_status" value="" class="selected_null">SELECT</option>
										</select>
										<!-- {{selected_status| json}} -->
									</div>
									<!-- <div class="col-md-3">
										<select 
											class="form-control m-b"
											ng-model="selected_status" 
											ng-options="each_status.label for each_status in list_status"
											ng-style="{
												'background-color':selected_status.back_color, 'color':selected_status.front_color
											}"
											ng-disabled="form_disabled"
										>
											<option value="">SELECT</option>
										</select>
									</div> -->
								</div>
								<p>&nbsp;</p>
								<div class="row">
									<div class="col-md-3 custome_font_size_label">File Name</div>
									<div class="col-md-9">

									<input 
										class="form-control custome_font_size_input" 
										type="text" 
										name="file_name"
										ng-model="new_score.file_name"
										placeholder="Enter File Name"
										required
										ng-disabled="form_disabled"
									>
									<div 
										ng-show="form_prs_hr_view.file_name.$error.required && form_prs_hr_view.file_name.$dirty"
										class="alert alert-danger"
									>
										File Name is required
									</div>


									</div>
								</div>
								<p>&nbsp;</p>
								<div class="row">
									<div class="col-md-3 custome_font_size_label">File Size</div>
									<div class="col-md-3">

									<input 
										class="form-control custome_font_size_input" 
										type="number" 
										name="file_size"
										ng-model="new_score.file_size"
										placeholder="Enter File Size"
										required
										ng-disabled="form_disabled"
									>
									<div 
										ng-show="form_prs_hr_view.file_size.$error.required && form_prs_hr_view.file_size.$dirty"
										class="alert alert-danger"
									>
										File Size is required
									</div>

									</div>
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 custome_font_size_label">Created Date</div>
									<div class="col-md-4">

									<input 
										class="form-control custome_font_size_input" 
										type="date" 
										name="date_created"
										ng-model="new_score.date_created"
										placeholder="Enter Created Date"
										required
										ng-disabled="form_disabled"
									>
									<div 
										ng-show="form_prs_hr_view.date_created.$error.required && form_prs_hr_view.date_created.$dirty"
										class="alert alert-danger"
									>
										Created Date is required
									</div>


									</div>
									<div class="col-md-3 custome_font_size_label">Creator</div>
									<div class="col-md-3">

									<input 
										class="form-control custome_font_size_input" 
										type="text" 
										name="creator"
										ng-model="new_score.creator"
										placeholder="Enter Creator"
										required
										ng-disabled="form_disabled"
									>
									<div 
										ng-show="form_prs_hr_view.creator.$error.required && form_prs_hr_view.creator.$dirty"
										class="alert alert-danger"
									>
										Creator is required
									</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ibox-content">
						<div class="" align="right">
							<button class="btn btn-success btn-sm" ng-click="view_form()">
								<i class="fa fa-eye"></i> VIEW
							</button>
							<button class="btn btn-primary btn-sm" ng-click="edit_form()">
								<i class="fa fa-pencil"></i> EDIT
							</button>
							<button class="btn btn-primary btn-sm"
									ng-click="save_form(new_score)" 
									ng-disabled="form_disabled"
								>
								<i class="fa fa-save"></i> SAVE
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>