<form 
    name="editForm" 
    role="form" 
    novalidate 
    ng-submit="vm.save()" 
    class="animated fadeInDown" 
>   

    <div class="modal-header bg-primary">
        <button 
            type="button" 
            class="close" 
            aria-hidden="true"
            ui-sref="{{ vm.previousState }}" 
        >&times;</button>
        <!-- <button 
            type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-hidden="true"
            ng-click="vm.clear()"
        >&times;</button> -->
        <h4 
            class="modal-title" 
            id="myPAReliabilityConfLabel" 
            data-translate="pasaasApp.pAReliabilityConf.home.createOrEditLabel"
        >Reliability Configuration</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pAReliabilityConf.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pAReliabilityConf.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityConf.bscore" for="field_bscore">Bscore</label>
            <input type="number" class="form-control" name="bscore" id="field_bscore"
                    ng-model="vm.pAReliabilityConf.bscore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityConf.cscore" for="field_cscore">Cscore</label>
            <input type="number" class="form-control" name="cscore" id="field_cscore"
                    ng-model="vm.pAReliabilityConf.cscore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityConf.dataset" for="field_dataset">Dataset</label>
            <input type="text" class="form-control" name="dataset" id="field_dataset"
                    ng-model="vm.pAReliabilityConf.dataset"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityConf.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                    ng-model="vm.pAReliabilityConf.category"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pAReliabilityConf.pastatus" for="field_pastatus">Pastatus</label>
            <select class="form-control" name="pastatus" ng-model="vm.pAReliabilityConf.pastatus" id="field_pastatus">
                <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="pasaasApp.pAReliabilityConf.paorgrc" for="field_paorgrc">Paorgrc</label>
            <select class="form-control" id="field_paorgrc" name="paorgrc" ng-model="vm.pAReliabilityConf.paorgrc" ng-options="pAOrganization as pAOrganization.organization for pAOrganization in vm.paorganizations track by pAOrganization.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="pasaasApp.pAReliabilityConf.paprorc" for="field_paprorc">Paprorc</label>
            <select class="form-control" id="field_paprorc" name="paprorc" ng-model="vm.pAReliabilityConf.paprorc" ng-options="pAProject as pAProject.projectname for pAProject in vm.paprojects track by pAProject.id">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-default" 
            ui-sref="{{ vm.previousState }}" 
        >
        <!-- <button 
            type="button" 
            class="btn btn-default" 
            data-dismiss="modal" 
            ng-click="vm.clear()"
        > -->
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button 
            type="submit" 
            ng-disabled="editForm.$invalid || vm.isSaving" 
            class="btn btn-primary"
        >
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Save</span>
        </button>
    </div>

</form>


<!-- <form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPAReliabilityConfLabel" data-translate="pasaasApp.pAReliabilityConf.home.createOrEditLabel">Reliability Configuration</h4>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form> -->
