<div>
	<div 
		ng-show="page_meta_data.has_header" 
		ng-include="'company_pages/common_things/template_page_header.html'"
	></div>

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-title">
						<h5 data-translate="pasaasApp.pAProject.home.title">PA Projects</h5>
						<div ibox-tools></div>

						<button 
							class="btn btn-primary btn-xs pull-right" 
							ui-sref="p-a-project.new"
						>
							<span  data-translate="pasaasApp.pAProject.home.createLabel">
								Create new PA Project
							</span>
						</button>
					</div>

					<div class="ibox-content">
						<jhi-alert></jhi-alert>
						<table 
							datatable="ng" 
							class="table table-striped table-hover dataTables-example"
						>
							<thead>
								<tr>
									<th><span data-translate="global.field.id">ID</span></th>
									<th><span data-translate="pasaasApp.pAProject.projectname">Projectname</span></th>
									<th><span data-translate="pasaasApp.pAProject.description">Description</span></th>
									<th><span data-translate="pasaasApp.pAProject.paorgpro">Paorgpro</span></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr 
									class="gradeX" 
									ng-repeat="pAProject in vm.pAProjects track by pAProject.id"
								>
									<td><a ui-sref="p-a-project-detail({id:pAProject.id})">{{pAProject.id}}</a></td>
									<td>{{pAProject.projectname}}</td>
									<td>{{pAProject.description}}</td>
									<td>
										<a ui-sref="p-a-organization-detail({id:pAProject.paorgpro.id})">{{pAProject.paorgpro.organization}}</a>
									</td>
									<td class="text-right">
										<div class="btn-group flex-btn-group-container">
											<button 
												type="submit"
												ui-sref="p-a-project-detail({id:pAProject.id})"
												class="btn btn-info btn-sm"
											>
												<span class="glyphicon glyphicon-eye-open"></span>
												<span 
													class="hidden-xs hidden-sm" 
													data-translate="entity.action.view"
												></span>
											</button>
											<button 
												type="submit"
												ui-sref="p-a-project.edit({id:pAProject.id})"
												class="btn btn-primary btn-sm"
											>
												<span class="glyphicon glyphicon-pencil"></span>
												<span 
													class="hidden-xs hidden-sm" 
													data-translate="entity.action.edit"
												></span>
											</button>
											<button 
												type="submit"
												ui-sref="p-a-project.delete({id:pAProject.id})"
												class="btn btn-danger btn-sm"
											>
												<span class="glyphicon glyphicon-remove-circle"></span>
												<span 
													class="hidden-xs hidden-sm" 
													data-translate="entity.action.delete"
												></span>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div>
	<h2 data-translate="pasaasApp.pAProject.home.title">PA Projects</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="p-a-project.new" >
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="pasaasApp.pAProject.home.createLabel">
						Create new PA Project
					</span>
				</button>
			</div>
		</div>
	</div>
	<br/>
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
					<th jh-sort-by="id">
						<span data-translate="global.field.id">ID</span> 
						<span class="glyphicon glyphicon-sort"></span>
					</th>
					<th jh-sort-by="projectname">
						<span data-translate="pasaasApp.pAProject.projectname">Projectname</span> 
						<span class="glyphicon glyphicon-sort"></span>
					</th>
					<th jh-sort-by="description">
						<span data-translate="pasaasApp.pAProject.description">Description</span> 
						<span class="glyphicon glyphicon-sort"></span>
					</th>
					<th jh-sort-by="paorgpro.organization">
						<span data-translate="pasaasApp.pAProject.paorgpro">Paorgpro</span> 
						<span class="glyphicon glyphicon-sort"></span>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody 
				infinite-scroll="vm.loadPage(vm.page + 1)" 
				infinite-scroll-disabled="vm.page >= vm.links['last']"
			>
				<tr ng-repeat="pAProject in vm.pAProjects track by pAProject.id">
					<td><a ui-sref="p-a-project-detail({id:pAProject.id})">{{pAProject.id}}</a></td>
					<td>{{pAProject.projectname}}</td>
					<td>{{pAProject.description}}</td>
					<td>
						<a ui-sref="p-a-organization-detail({id:pAProject.paorgpro.id})">{{pAProject.paorgpro.organization}}</a>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button 
								type="submit"
								ui-sref="p-a-project-detail({id:pAProject.id})"
								class="btn btn-info btn-sm"
							>
								<span class="glyphicon glyphicon-eye-open"></span>
								<span 
									class="hidden-xs hidden-sm" 
									data-translate="entity.action.view"
								></span>
							</button>
							<button 
								type="submit"
								ui-sref="p-a-project.edit({id:pAProject.id})"
								class="btn btn-primary btn-sm"
							>
								<span class="glyphicon glyphicon-pencil"></span>
								<span 
									class="hidden-xs hidden-sm" 
									data-translate="entity.action.edit"
								></span>
							</button>
							<button 
								type="submit"
								ui-sref="p-a-project.delete({id:pAProject.id})"
								class="btn btn-danger btn-sm"
							>
								<span class="glyphicon glyphicon-remove-circle"></span>
								<span 
									class="hidden-xs hidden-sm" 
									data-translate="entity.action.delete"
								></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- [
  {
    "objectentity": "2:0",
    "timeseriesentity": "3",
    "feedindateformat": "UNIXTIME",
    "feedoutdateformat": "CUSTOMDATE#yyyy-MM-dd HH:mm:ss",
    "feedfirstlineheader": true,
    "feedskipindexes": "1",
    "rollindateformat": "CUSTOMDATE#yyyy-MM-dd HH:mm:ss",
    "rolloutdateformat": "CUSTOMDATE#yyyy-MM-dd HH:mm:ss",
    "rollseriesgroupindex": "2",
    "rollseriesstart": "2015-03-01T00:00:00+05:30",
    "rollseriesend": "2015-03-31T00:00:00+05:30",
    "rollseriesnxt": "2015-03-02T00:00:00+05:30",
    "patternfldindex": 2,
    "patterntraininterval": 5,
    "patternpredictinterval": 4,
    "patternintervalthreshhold": 0,
    "pastatus": "Active",
    "id": 1,
    "projectname": "Telco Project",
    "description": "Default Project",
    "paorgpro": {
      "id": 1,
      "organization": "Pervazive",
      "validfrom": "2017-02-03T15:04:24+05:30",
      "validto": "2018-02-03T15:04:24+05:30",
      "pastatus": "Active",
      "pabporg": {
        "id": 1,
        "businessplan": "Trial",
        "users": 1,
        "description": "Trial Plan",
        "pastatus": "Active",
        "projects": 1
      }
    },
    "pausers": []
  },
  {
    "objectentity": null,
    "timeseriesentity": null,
    "feedindateformat": null,
    "feedoutdateformat": null,
    "feedfirstlineheader": false,
    "feedskipindexes": null,
    "rollindateformat": null,
    "rolloutdateformat": null,
    "rollseriesgroupindex": null,
    "rollseriesstart": null,
    "rollseriesend": null,
    "rollseriesnxt": null,
    "patternfldindex": null,
    "patterntraininterval": null,
    "patternpredictinterval": null,
    "patternintervalthreshhold": null,
    "pastatus": null,
    "id": 6,
    "projectname": "Test",
    "description": "test",
    "paorgpro": {
      "id": 1,
      "organization": "Pervazive",
      "validfrom": "2017-02-03T15:04:24+05:30",
      "validto": "2018-02-03T15:04:24+05:30",
      "pastatus": "Active",
      "pabporg": {
        "id": 1,
        "businessplan": "Trial",
        "users": 1,
        "description": "Trial Plan",
        "pastatus": "Active",
        "projects": 1
      }
    },
    "pausers": [
      "pervazivesu"
    ]
  }
] -->
