<!-- <div ng-controller='controller_pdf17'> -->
<div>
	<div 
		ng-show="page_meta_data.has_header" 
		ng-include="'company_pages/common_things/template_page_header.html'"
	></div>
	<!-- <pre>{{vm.pAProject| json}}</pre> -->

	<div class="row">
	<div class="col-lg-12">
	<div class="wrapper wrapper-content animated fadeInUp">
	<div class="ibox">
	<div class="ibox-content">
		<div class="row">
		    <div class="col-lg-12">
		        <div class="m-b-md">
		            <a href="" class="btn btn-white btn-xs pull-right">Edit project</a>

		            <h2>Contract with <span>{{vm.pAProject.projectname}}</span></h2>
		            <!-- <h2>Contract with {{page_data1.company_name}}</h2> -->
		        </div>
		        <dl class="dl-horizontal">
		            <dt>Status:</dt>
		            <dd><span class="label label-primary">{{vm.pAProject.pastatus}}</span></dd>
		        </dl>
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-5">
		        <dl class="dl-horizontal">

		            <dt>Created by:</dt>
		            	<dd>{{vm.pAProject.createdBy}}</dd>
		            <dt>Organization:</dt>
		            	<dd>
		            		<a href="" class="text-navy">{{vm.pAProject.paorgpro.organization}}</a>
		            	</dd>
		        </dl>
		    </div>
		    <div class="col-lg-7" id="cluster_info">
		        <dl class="dl-horizontal">

		            <dt>Last Updated:</dt>
		            	<dd>{{vm.pAProject.lastModifiedDate}}</dd>
		            <dt>Created:</dt>
		            	<dd>{{vm.pAProject.createdDate}}</dd>
		            <dt>Participants:</dt>
			            <dd class="project-people">
			                <span ng-repeat="each_participant in vm.pAProject.pausers">
			                	<a href="">each_participant</a>
			                	<!-- <a href="">
			                		<img 
			                			alt="image" 
			                			class="img-circle" 
			                			ng-src="{{each_participant}}"
			                		>
			                	</a> -->
			                </span>
			            </dd>
		        </dl>
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-12">
		        <dl class="dl-horizontal">
		            <dt>Completed:</dt>
			            <dd>
			                <div class="progress progress-striped active m-b-sm">
			                    <div 
			                    	style="width: {{page_data1.completed_progress}}%;" 
			                    	class="progress-bar"
			                    ></div>
			                </div>
			                <small>Project completed in 
				                <strong>{{page_data1.completed_progress}}%</strong>
				                . Remaining close the project, sign a contract and invoice.
			                </small>
			            </dd>
		        </dl>
		    </div>
		</div>
		<div class="row m-t-sm">
			<div class="col-lg-12">
				<div class="panel blank-panel ui-tab">

					<tabset>
					    <tab heading="Project Files" active="tab.active" class="dsads">

					    	<div class="wrapper wrapper-content">
								<div class="row">
									<div class="col-lg-3">
									    <div class="ibox float-e-margins">
									        <div class="ibox-content">
									            <div class="file-manager">
									                <h5>Show:</h5>
									                <a href="" class="file-control active">All</a>
									                <a href="" class="file-control">Documents</a>
									                <a href="" class="file-control">Audio</a>
									                <a href="" class="file-control">Images</a>

									                <div class="hr-line-dashed"></div>
									                <button class="btn btn-primary btn-block">
									                	Upload Files
									                </button>
									                <div class="hr-line-dashed"></div>

									                <h5>Folders</h5>
									                <ul class="folder-list" style="padding: 0">
									                    <li ng-repeat="each_project in page_data1.folder_list">
									                    	<a href="">
									                    		<i class="fa fa-folder"></i>
									                    		{{each_project}}
									                    	</a>
									                    </li>
									                </ul>
									                
									                <h5 class="tag-title">Tags</h5>
									                <ul 
									                	class="tag-list" 
									                	style="padding: 0"
									                >
									                    <li ng-repeat="each_tag in page_data1.tag_list">
									                    	<a href="">{{each_tag}}</a>
									                    </li>
									                </ul>
									                <div class="clearfix"></div>
									            </div>
									        </div>
									    </div>
									</div>
									<div class="col-lg-9 animated fadeInRight">
										<div class="row">
											<div class="col-lg-12">

												<div 
													class="file-box" 
													ng-repeat = "each_file in file_list"
												>
												    <div class="file">
												        <a href="">
												            <span class="corner"></span>

												            <div class="icon">
												                <i class="{{each_file.class_name}}"></i>
												            </div>
												            <div class="file-name">
												                {{each_file.name}}
												                <br/>
												                <small>{{each_file.date}}</small>
												            </div>
												        </a>
												    </div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					    </tab>
					    <tab heading="Users"></tab>
					    <tab heading="Users Messages"></tab>
					    <tab heading="Last Activity"></tab>
					    <tab heading="Settings"></tab>

					</tabset>

				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>

</div>


<div>
	<h2>
		<span data-translate="pasaasApp.pAProject.detail.title">PA Project</span>
		{{vm.pAProject.id}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="dl-horizontal jh-entity-details">
		<dt><span data-translate="pasaasApp.pAProject.projectname">Projectname</span></dt>
		<dd>
			<span>{{vm.pAProject.projectname}}</span>
		</dd>
		<dt><span data-translate="pasaasApp.pAProject.description">Description</span></dt>
		<dd>
			<span>{{vm.pAProject.description}}</span>
		</dd>
		<dt><span data-translate="pasaasApp.pAProject.paorgpro">Paorgpro</span></dt>
		<dd>
			<a ui-sref="p-a-organization-detail({id:vm.pAProject.paorgpro.id})">
			{{vm.pAProject.paorgpro.organization}}</a>
		</dd>
	</dl>

	<button 
		type="submit"
		class="btn btn-info"
		ui-sref="{{ vm.previousState }}"
	>
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
		<span data-translate="entity.action.back"> Back</span>
	</button>

	<button 
		type="button" 
		class="btn btn-primary"
		ui-sref="p-a-project-detail.edit({id:vm.pAProject.id})" 
	>
		<span class="glyphicon glyphicon-pencil"></span>
		<span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
	</button>
</div>
