<div class="well">
	<fieldset>
		<legend>Configuration</legend>
	    <div class="row">

            <div class="col-lg-6">
                <jhi-alert-error></jhi-alert-error>

				<div class="form-group">
					<label 
						for="field_objectentity"
						data-translate="pasaasApp.pAProject.objectentity" 
						class="control-label" 
					>objectentity</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_objectentity"
						name="objectentity" 
						ng-model="vm.pAProject.objectentity"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_timeseriesentity"
						data-translate="pasaasApp.pAProject.timeseriesentity" 
						class="control-label" 
					>timeseriesentity</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_timeseriesentity"
						name="timeseriesentity" 
						ng-model="vm.pAProject.timeseriesentity"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_feedindateformat"
						data-translate="pasaasApp.pAProject.feedindateformat" 
						class="control-label" 
					>feedindateformat</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_feedindateformat"
						name="feedindateformat" 
						ng-model="vm.pAProject.feedindateformat"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_feedoutdateformat"
						data-translate="pasaasApp.pAProject.feedoutdateformat" 
						class="control-label" 
					>feedoutdateformat</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_feedoutdateformat"
						name="feedoutdateformat" 
						ng-model="vm.pAProject.feedoutdateformat"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_feedfirstlineheader"
						data-translate="pasaasApp.pAProject.feedfirstlineheader" 
						class="control-label" 
					>feedfirstlineheader</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_feedfirstlineheader"
						name="feedfirstlineheader" 
						ng-model="vm.pAProject.feedfirstlineheader"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_feedskipindexes"
						data-translate="pasaasApp.pAProject.feedskipindexes" 
						class="control-label" 
					>feedskipindexes</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_feedskipindexes"
						name="feedskipindexes" 
						ng-model="vm.pAProject.feedskipindexes"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_rollindateformat"
						data-translate="pasaasApp.pAProject.rollindateformat" 
						class="control-label" 
					>rollindateformat</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rollindateformat"
						name="rollindateformat" 
						ng-model="vm.pAProject.rollindateformat"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_rolloutdateformat"
						data-translate="pasaasApp.pAProject.rolloutdateformat" 
						class="control-label" 
					>rolloutdateformat</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rolloutdateformat"
						name="rolloutdateformat" 
						ng-model="vm.pAProject.rolloutdateformat"
					/>
				</div>
			</div>
			<div class="col-lg-6">
				
				<div class="form-group">	
					<label 
						for="field_rollseriesgroupindex"
						data-translate="pasaasApp.pAProject.rollseriesgroupindex" 
						class="control-label" 
					>rollseriesgroupindex</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rollseriesgroupindex"
						name="rollseriesgroupindex" 
						ng-model="vm.pAProject.rollseriesgroupindex"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_rollseriesstart"
						data-translate="pasaasApp.pAProject.rollseriesstart" 
						class="control-label" 
					>rollseriesstart</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rollseriesstart"
						name="rollseriesstart" 
						ng-model="vm.pAProject.rollseriesstart"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_rollseriesend"
						data-translate="pasaasApp.pAProject.rollseriesend" 
						class="control-label" 
					>rollseriesend</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rollseriesend"
						name="rollseriesend" 
						ng-model="vm.pAProject.rollseriesend"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_rollseriesnxt"
						data-translate="pasaasApp.pAProject.rollseriesnxt" 
						class="control-label" 
					>rollseriesnxt</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_rollseriesnxt"
						name="rollseriesnxt" 
						ng-model="vm.pAProject.rollseriesnxt"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_patternfldindex"
						data-translate="pasaasApp.pAProject.patternfldindex" 
						class="control-label" 
					>patternfldindex</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_patternfldindex"
						name="patternfldindex" 
						ng-model="vm.pAProject.patternfldindex"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_patterntraininterval"
						data-translate="pasaasApp.pAProject.patterntraininterval" 
						class="control-label" 
					>patterntraininterval</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_patterntraininterval"
						name="patterntraininterval" 
						ng-model="vm.pAProject.patterntraininterval"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_patternpredictinterval"
						data-translate="pasaasApp.pAProject.patternpredictinterval" 
						class="control-label" 
					>patternpredictinterval</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_patternpredictinterval"
						name="patternpredictinterval" 
						ng-model="vm.pAProject.patternpredictinterval"
					/>
				</div>
				
				<div class="form-group">
					<label 
						for="field_patternintervalthreshhold"
						data-translate="pasaasApp.pAProject.patternintervalthreshhold" 
						class="control-label" 
					>patternintervalthreshhold</label>
					<input 
						type="text" 
						class="form-control" 
						id="field_patternintervalthreshhold"
						name="patternintervalthreshhold" 
						ng-model="vm.pAProject.patternintervalthreshhold"
					/>
				</div>

            </div>
        </div>
	</fieldset>

</div>