<form 
    name="editForm" 
    role="form" 
    novalidate 
    ng-submit="vm.save()"
    class="animated fadeInDown" 
>
    <div class="modal-header bg-primary">
        <button 
            type="button" 
            class="close" 
            aria-hidden="true"
            ui-sref="{{ vm.previousState }}" 
        >&times;</button>
        <!-- <button 
            type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-hidden="true"
            ng-click="vm.clear()"
        >&times;</button> -->

        <h4 class="modal-title" id="myPASaxCodeTmpLabel" data-translate="pasaasApp.pASaxCodeTmp.home.createOrEditLabel">Create or edit a PA Sax Code Tmp</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pASaxCodeTmp.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pASaxCodeTmp.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.distalarm" for="field_distalarm">Distalarm</label>
            <input type="text" class="form-control" name="distalarm" id="field_distalarm"
                    ng-model="vm.pASaxCodeTmp.distalarm"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.saxcode" for="field_saxcode">Saxcode</label>
            <input type="text" class="form-control" name="saxcode" id="field_saxcode"
                    ng-model="vm.pASaxCodeTmp.saxcode"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.total" for="field_total">Total</label>
            <input type="text" class="form-control" name="total" id="field_total"
                    ng-model="vm.pASaxCodeTmp.total"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.painterval" for="field_painterval">Painterval</label>
            <input type="text" class="form-control" name="painterval" id="field_painterval"
                    ng-model="vm.pASaxCodeTmp.painterval"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.severity" for="field_severity">Severity</label>
            <input type="text" class="form-control" name="severity" id="field_severity"
                    ng-model="vm.pASaxCodeTmp.severity"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pasaasApp.pASaxCodeTmp.pastatus" for="field_pastatus">Pastatus</label>
            <select class="form-control" name="pastatus" ng-model="vm.pASaxCodeTmp.pastatus" id="field_pastatus" ng-disabled="true">
                <option value="Active" data-translate="pasaasApp.PAStatus.Active">Active</option>
                <option value="Inactive" data-translate="pasaasApp.PAStatus.Inactive">Inactive</option>
                <option value="Delete" data-translate="pasaasApp.PAStatus.Delete">Delete</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="pasaasApp.pASaxCodeTmp.paorgsct" for="field_paorgsct">Paorgsct</label>
            <input 
                type="text" 
                class="form-control" 
                name="paorgsct" 
                id="field_paorgsct"
                ng-model="vm.pASaxCodeTmp.paorgsct.organization"
                readonly 
            />
            <!-- <select class="form-control" id="field_paorgsct" name="paorgsct" ng-model="vm.pASaxCodeTmp.paorgsct" ng-options="pAOrganization as pAOrganization.organization for pAOrganization in vm.paorganizations track by pAOrganization.id" ng-disabled="true">
                <option value=""></option>
            </select> -->
        </div>
        <div class="form-group">
            <label data-translate="pasaasApp.pASaxCodeTmp.paprosct" for="field_paprosct">Paprosct</label>
            <input 
                type="text" 
                class="form-control" 
                name="paprosct" 
                id="field_paprosct"
                ng-model="vm.pASaxCodeTmp.paprosct.projectname"
                readonly 
            />
            <!-- <select class="form-control" id="field_paprosct" name="paprosct" ng-model="vm.pASaxCodeTmp.paprosct" ng-options="pAProject as pAProject.projectname for pAProject in vm.paprojects track by pAProject.id" ng-disabled="true">
                <option value=""></option>
            </select> -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>

        <!-- <button type="button" ui-sref="p-a-sax-code-tmp-detail.edit({id:vm.pASaxCodeTmp.id})" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
        </button> -->
    </div>
</form>



<!-- <div>
    <h2><span data-translate="pasaasApp.pASaxCodeTmp.detail.title">PA Sax Code Tmp</span> {{vm.pASaxCodeTmp.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.distalarm">Distalarm</span></dt>
        <dd>
            <span>{{vm.pASaxCodeTmp.distalarm}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.saxcode">Saxcode</span></dt>
        <dd>
            <span>{{vm.pASaxCodeTmp.saxcode}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.total">Total</span></dt>
        <dd>
            <span>{{vm.pASaxCodeTmp.total}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.painterval">Painterval</span></dt>
        <dd>
            <span>{{vm.pASaxCodeTmp.painterval}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.severity">Severity</span></dt>
        <dd>
            <span>{{vm.pASaxCodeTmp.severity}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.pastatus">Pastatus</span></dt>
        <dd>
            <span data-translate="{{'pasaasApp.PAStatus.' + vm.pASaxCodeTmp.pastatus}}">{{vm.pASaxCodeTmp.pastatus}}</span>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.paorgsct">Paorgsct</span></dt>
        <dd>
            <a ui-sref="p-a-organization-detail({id:vm.pASaxCodeTmp.paorgsct.id})">{{vm.pASaxCodeTmp.paorgsct.organization}}</a>
        </dd>
        <dt><span data-translate="pasaasApp.pASaxCodeTmp.paprosct">Paprosct</span></dt>
        <dd>
            <a ui-sref="p-a-project-detail({id:vm.pASaxCodeTmp.paprosct.id})">{{vm.pASaxCodeTmp.paprosct.projectname}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="p-a-sax-code-tmp-detail.edit({id:vm.pASaxCodeTmp.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
 -->